@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;600&display=swap');


/* .header {
    border: red dashed
}

.header_conSocial {
    border: yellow solid;
}

.header_conSocial_contact {
    border: blue solid;
}

.header_conSocial_contact_phone,
.header_conSocial_contact_email {
    border: greenyellow solid;
}

.header_conSocial_social {
    border: solid black 2px;
}

.header_conSocial_social_links {
    border: violet solid
}

.navContainer {
    border: orange solid;
}

.header_logo {
    border: red solid;
}

.header_nav_links {
    border: purple solid;
}

.header_nav_link {
    border: green solid;
} */

.header {
    display: flex;
    height: 8rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0rem;
    left: 0rem;
    top: 0;

    width: 100%;
    background-color: #02005a;

}

.header_conSocial {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header_conSocial_contact {
    display: flex;
    width: 50%;
    justify-content: space-between;

    color: #ffffff;
    text-align: center;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5rem;
}

.header_conSocial_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

}

.header_conSocial_social_links {
    width: 2rem;
    height: 2rem;

}

.navContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;

}

.header_logo {
    width: 370px;
}

.header_nav_links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;

    color: #02005A;
    font-family: 'Proza Libre', sans-serif;
    font-size: 2rem;
}