@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;600&display=swap');


/* .header {
    border: red dashed
}

.header_conSocial {
    border: yellow solid;
}

.header_conSocial_contact {
    border: blue solid;
}

.header_conSocial_contact_phone,
.header_conSocial_contact_email {
    border: greenyellow solid;
}

.header_conSocial_social {
    border: solid black 2px;
}

.header_conSocial_social_links {
    border: violet solid
}

.navContainer {
    border: orange solid;
}

.header_logo {
    border: red solid;
}

.header_nav_links {
    border: purple solid;
}

.header_nav_link {
    border: green solid;
} */

.header {
    display: flex;
    height: 8rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 3rem;
    left: 3rem;
    top: 0;
    /* 
    width: 120rem;
    justify-content: center;
    */
}

.header_conSocial {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;

    background-color: #4D4BA9;
}

.header_conSocial_contact {
    display: flex;
    width: 50%;
    justify-content: space-between;
    /* 
    height: 3.5rem;
    padding-left: 0px;
    align-items: flex-start;
    gap: 2rem;
    flex-shrink: 0;
    align-self: stretch;
    */

    color: #ffffff;
    text-align: center;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5rem;
}

/* 
.header_conSocial_contact_phone,
.header_conSocial_contact_email {
    display: flex;
    width: 12rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
}
*/

/* .header_conSocial_contact_email {
    width: 25rem;
} 
*/

.header_conSocial_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    /* margin-right: 2rem; */
    /* flex: 1 0 0; */

    /* border: solid black 2px; */
}

.header_conSocial_social_links {
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;*/
    width: 2rem;
    height: 2rem;

}

.navContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /*
    padding-left: 4rem;
    align-items: center;
    align-self: stretch; 
    */
}

.header_logo {
    width: 370px;
    /* align-self: stretch; */
}

.header_nav_links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;

    color: #02005A;
    font-family: 'Proza Libre', sans-serif;
    font-size: 2rem;


    /* 
    width: 15rem;
    height: 5rem;
    */

    /* 
    text-align: center;
    */
}

/*
.header_nav_link {
}
*/