body {
    background: url(/Images/bg_1080p_dark.jpg);
    background-size: cover;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    line-height: normal;
}

.main_content {
    display: flex;
    margin: 12rem 8rem 0rem 8rem;
    padding: 1rem;

    flex-direction: column;
    color: white;
    border-radius: 0.5rem;
    background: rgba(111, 114, 135, 0.80);
}

.welcome_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_body {

    text-align: center;
    padding: 0 8rem;
}

.address_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.map {
    display: flex;
    height: auto;
    padding: 2rem 0;
}

.map img {

    border-radius: 0.625rem;
}

.addressHours {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 3rem;
}

.addressHeading,
.hoursHeading {
    text-align: center;
}

.address,
.hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid red;
    padding: 10px;
}


.dayTimes {
    display: flex;
    gap: 2rem;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 930px) {
    .address_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 412px) {}